@font-face {
    font-family: 'akrobat';
    src: url('Akrobat-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('Akrobat-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Akrobat-ExtraBold.woff') format('woff'), /* Modern Browsers */
         url('Akrobat-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Akrobat-ExtraBold.svg#Akrobat-ExtraBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

