.sic-button {
    padding: 0.5em 0.5em;
    border: 0.2em var(--bordercolor) solid;
    border-radius: 0.2em;
    display: inline-block;
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    box-sizing: border-box;
    font-family: "akrobat", sans-serif;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 0.8;

    --bordercolor: var(--accent-120);
    --backgroundcolor: var(--accent-120);
    --textcolor: var(--accent-10);

    transition: 0.125s ease filter, 0.125s ease opacity;

    &.sic-button-neg {
        --bordercolor: var(--accent-10);
        --backgroundcolor: var(--accent-10);
        --textcolor: var(--accent-120);
    }

    &.sic-button-line {
        --backgroundcolor: transparent;
        --textcolor: var(--bordercolor);
    }

    &.sic-button-line-fill {
        --bordercolor: var(--textcolor);
    }

    &.text-sm {
        font-size: 1rem;
    }
}

.sic-button:hover {
    -webkit-filter: brightness(1.15);
    filter: brightness(1.15);
}

.sic-button.sic-button-next::after {
    content: "\203a";
    font-size: 2em;
    line-height: 0;
    margin-left: 0.2em;
    display: inline-block;
    transition: 0.125s ease transform;
    transform: translateY(0.09em);
}

.sic-button.sic-button-next:hover::after {
    transform: translateY(0.09em) translateX(0.15em);
}