:root {
    --accent-120: #1E8762;
    --accent-110: #21986E;
    --accent: #25A97A;
    --accent-90: #3BB288;
    --accent-80: #51BA95;
    --accent-70: #67C3A2;
    --accent-60: #7CCBAF;
    --accent-50: #92D4BD;
    --accent-40: #A8DDCA;
    --accent-30: #BEE6D8;
    --accent-20: #D3EEE4;
    --accent-10: #EAF7F2;
    --accent-name: var(--accent);
    --accent-positon: var(--secondary);

    --secondary-120: #074858;
    --secondary-110: #085163;
    --secondary: #095A6E;
    --secondary-90: #226B7D;
    --secondary-80: #3A7B8B;
    --secondary-70: #538C9A;
    --secondary-60: #6B9CA8;
    --secondary-50: #84ADB7;
    --secondary-40: #9DBDC5;
    --secondary-30: #B6CED4;
    --secondary-20: #CEDEE2;
    --secondary-10: #E7EFF1;
    --secondary-name: var(--secondary);
    --secondary-positon: var(--accent);
}