.sic-logos-inner {
    --cols: 4;
    --gutter: 1rem;

    gap: var(--gutter);

    .sic-logos-logo-wrapper {
        width: calc(100% / var(--cols) - ((var(--cols) - 1) * var(--gutter) / var(--cols)));
    }

    .sic-logos-logo {
        padding-bottom: 100%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
        }
    }

    @media (max-width: 980px) {
        --cols: 3;
    }

    @media (max-width: 580px) {
        --cols: 2;
    }
}